.container {
    width: 90%;
    min-height: 650px;
    border: 1px solid black;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "header header"
                         "aside main"
                         "nav main"
                         "footer footer";
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1.3fr;
}
header {
    grid-area: header;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex: 2;
}
header h1 {
    margin: auto;
}
main {
    grid-area: main;
    /* height: 100%;
    width: 60%; */
    background-color: brown;
    display: flex;
    flex-direction: row;
    order: 1;
    flex: 1.5;
}
main h1 {
    margin: auto;
}
aside {
    grid-area: aside;
    background-color: rgb(226, 49, 117);
    flex: 1;
    display: flex;
}
aside h1 {
    margin: auto;
}
nav {
    grid-area: nav;
    background-color: dodgerblue;
    flex: 1.5;
    display: flex;
}
nav h1 {
    margin: auto;
}
footer {
    grid-area: footer;
    display: flex;
    background-color: violet;
    flex: 1;
}
footer h1 {
    margin: auto;
}
/* header */
/* content */
/* footer */